<!DOCTYPE html>
<html lang="pl"> 
    <head> 
        <meta charset="utf-8">
        <title>Kantor</title>
    </head>
    <body style = "background-color: lightgrey;">
        <div>
         <h1 style="color:darkgreen"><b>Kantor</b></h1>
            <p><img src="skarbonka.jpg"  alt="Skarbonka świnka" tittle="skarbonka świnka" height="80" width="100"/> Wymień korzystnie swoje kieszonkowe </p>
            <h4><b>UWAGA:</b></h4> 
            <p style="font-size:18px;"><img src= "kesz.jpg" alt="Kesz, dostępne waluty" tittle="waluty" height="250" width="500" align="right"/><br> W okienku z opisem "Podaj wartość do wymiany" wpisz kwotę, którą chcesz zamienić. <br>W najniszym oknie otrzymasz wartość po przeliczeniu na podstawie kursu NBP :)<br> <br> <span style="color:darkgreen">! POWODZENIA !</span></p><br>
            
        </div>
        <div>
            <form>
                <label for="codes">Wybierz walutę:</label>
                <select name="codes" id="codes">
                <ul>
                    {% for code in codes %}
                    <option name="codes" id="codes"><li>{{code}}</li></option>
                    {% endfor %}
                </ul>
                </select>
                <label for="amount">Wartość do wymiany w PLN <input type="text"></label>
                <button>PRZELICZ</button>
                <br><br><br><label>Wartość po przeliczeniu<input type="text"></label>
            </form>
        </div>
    </body>
</html>